<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coneccion.Properties.Settings.erpConnectionString"
            connectionString="INGRESA TU CADENA DE CONEXION"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>